@{
    @using Microsoft.Extensions.Configuration
    @inject IConfiguration configuration

    var headTitle = configuration.GetValue<string>("AppConstants:headTitle");

    var currentMoment = DateTime.Now.ToString("dddd, dd MMMM yy");

    @*ViewData["Title"] = configuration.GetValue<string>("AppConstants:profileIndexPageTitle");*@
}


<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @*<title>@headTitle - @ViewData["Title"]</title>*@

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&amp;display=swap" rel="stylesheet">

    @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
        crossorigin="anonymous">*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css"
          integrity="sha512-5PV92qsds/16vyYIJo3T/As4m2d8b6oWYfoqV+vtizRB6KhF1F9kYzWzQmsO6T3z3QG2Xdhrx7FQ+5R1LiQdUA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />


    <link href="~/css/login.css" asp-append-version="true" rel="stylesheet" />
    <link href="~/css/mysite.css" asp-append-version="true" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/table-filter-style.css" />
</head>


<body>

    @*<vc:preloader />*@

    <partial name="_BusyIndicatorPartial" />


    @if (ViewBag.ShowLayout)
    {
        @*ViewData["Title"] = "CPC Hub";*@

        <div class="text-center">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow py-3">
                <div class="px-5">
                    <div class="shadow-sm" style="position: absolute; left: 15px; ">
                        <span class="page-header-title">
                            <a class="navbar-brand fs-3 text-white" asp-area="" asp-controller="Home" asp-action="SAMIndex">
                                @*<i class="bi bi-chevron-left fs-4 text-primary" aria-label="Top endorsed"></i> &nbsp;@headTitle*@
                                @headTitle
                            </a>
                        </span>
                    </div>
                    @if (ViewBag.Username != null)
                    {
                        <div class="col" style="position:absolute; right:0px; padding-right: 200px;">
                            <div class="col">
                                <h3 class="page-header-title text-white">@ViewBag.Username &nbsp; <i class="bi bi-person-circle fs-4 text-white" aria-label="Top endorsed"></i></h3>
                            </div>
                        </div>
                    }
                    <div class="pb-3">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between pb-4">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <div class="md-toggle row">
                                        <div class="col shadow-sm">
                                            <a class="nav-link btn btn-sm btn-light text-black" href="https://login.microsoftonline.com/logout.srf">Logout</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>


            <div class="d-flex" style="min-height:100vh;">

                <div class="col-2 border pt-2" style="width:250px">
                    <div class="nav nav-pills nav-vertical d-flex flex-column">
                        <div class="text-left p-2 shadow-lg">
                            <h1 class="fs-2">Main Menu</h1>

                        </div>
                        @*<hr class="" />*@

                        @if (ViewBag.Module == "admin" || ViewBag.Module == "client")
                        {
                            <a type="button" style="text-align: left;" asp-controller="Modules" asp-action="AgencyOperations" class="btn border text-start list-group-item list-group-item-action"><strong class="">Agency Operation</strong></a>
                        }
                        @if (ViewBag.Module == "agent" || ViewBag.Module == "admin" || ViewBag.Module == "client")
                        {
                            <a type="button" style="text-align: left;" asp-controller="Modules" asp-action="CPCHub" class="btn border text-start list-group-item list-group-item-action"><strong class="">CPC</strong></a>
                        }
                        @if (ViewBag.Module == "client")
                        {
                            <a type="button" style="text-align: left;" asp-controller="Modules" asp-action="PolicyAdmin" class="btn border text-start list-group-item list-group-item-action"><strong class="">Policy Administration</strong></a>
                            <hr />

                            <div class="accordion-item">
                                <h2 class="accordion-header border" id="headingFlushFour">
                                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFlushFour" aria-expanded="false" aria-controls="collapseFlushFour">

                                        <strong class="text-primary">Configurations</strong>

                                    </button>
                                </h2>
                                <div id="collapseFlushFour" class="accordion-collapse collapse" aria-labelledby="headingFlushFour" data-bs-parent="#accordionFlush">
                                    <div class="accordion-body p-0">
                                        <div class="list-group" role="tablist">

                                            <a style="text-align: left;" asp-controller="CPC" asp-action="UsersProfile" class="list-group-item list-group-item-action">&nbsp;&nbsp;Users Profile</a>
                                            <a style="text-align: left;" asp-controller="CPC" asp-action="RolesSetting" class="list-group-item list-group-item-action">&nbsp;&nbsp;Roles Setting</a>
                                            <a style="text-align: left;" asp-controller="CPC" asp-action="Permissions" class="list-group-item list-group-item-action">&nbsp;&nbsp;Permissions</a>
                                            <a style="text-align: left;" asp-controller="CPC" asp-action="Forms" class="list-group-item list-group-item-action">&nbsp;&nbsp;Forms</a>
                                            <a style="text-align: left;" asp-controller="CPC" asp-action="CPCTypes" class="list-group-item list-group-item-action">&nbsp;&nbsp;CPC Types</a>
                                            <a style="text-align: left;" asp-controller="CPC" asp-action="SupportingDocuments" class="list-group-item list-group-item-action">&nbsp;&nbsp;Supporting Documents</a>
                                            <a style="text-align: left;" asp-controller="CPC" asp-action="CPCProducts" class="list-group-item list-group-item-action">&nbsp;&nbsp;CPC Products</a>
                                            <a style="text-align: left;" asp-controller="CPC" asp-action="Branches" class="list-group-item list-group-item-action">&nbsp;&nbsp;Branches</a>
                                            <a style="text-align: left;" asp-controller="CPC" asp-action="States" class="list-group-item list-group-item-action">&nbsp;&nbsp;States</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="container-fluid p-0" style="background-color: whitesmoke;">
                    <div id="content-placeholder" class="px-3">
                        <partial name="_Notifications" />
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    }

    else
    {
        <main role="main" class="p-0 container-fluid">
            @RenderBody()
        </main>
    }

    @if (IsSectionDefined("Component"))
    {
        @RenderSection("Component", false)
    }

    @*@if (ViewBag.ShowLayout)
        {
        <footer class="border-top footer text-muted" style="position: fixed; bottom:0;">
        <div class="container">
        &copy; 2022 - SAM.WEB - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        </footer>
        }*@

    @*<script src="~/js/bootstrap-modal.js" asp-append-version="true"></script>*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="~/js/login.bundle.js" asp-append-version="true"></script>

    <script src="~/js/app.bundle.js" asp-append-version="true"></script>

    <script src="~/js/table-filter-bundle.js"></script>

    <script src="~/js/lookup.bundle.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



